{% load mezzanine_tags staticfiles pages_tags %}

<script>
{% if settings.GOOGLE_ANALYTICS_ID and not request.user.is_staff %}
var _gaq = _gaq || [['_trackPageview']];
_gaq.unshift(['_setAccount', '{{ settings.GOOGLE_ANALYTICS_ID }}']);
(function(d, t) {
    var g = d.createElement(t),
        s = d.getElementsByTagName(t)[0];
    g.async = true;
    g.src = '//www.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g, s);
})(document, 'script');
{% endif %}
$(function() {
  $('.toggleNav').on('click',function() {
    $('.link-lockup').toggleClass('open');
  });
});

if ($('nav.link-lockup').length > 1) {
    $('.primary-content').css('padding-top', '15rem');
}

function set_personal_fields(evnt) {
    var selected = $('input:radio[name=embroidery_type]:checked').val();
    var basic_value = $("input[name=basic_value]").val();
    switch ($('input:radio[name=embroidery_type]:checked').val()) {
        case '2':
            if (basic_value) {
                $('input:radio[name=embroidery_type]').prop('disabled', 'disabled');
            }
            break;
        case '3':
            if (basic_value && !$("input[name=initials-first-initial]").val()) {
                $('input:radio[name=embroidery_type]').prop('disabled', 'disabled');
                var initials = basic_value.split("-");
                $('input[name=initials-first-initial]').val(initials[0])
                $('input[name=initials-middle-initial]').val(initials[1]);
                $('input[name=initials-last-initial]').val(initials[2]);
                   
            }
            break;
        case '4':
            if (basic_value && !$("input[name=monogram-first-initial]").val()) {
                $('input:radio[name=embroidery_type]').prop('disabled', 'disabled');
                var initials = basic_value.split("-");
                $('input[name=monogram-first-initial]').val(initials[0])
                $('input[name=monogram-middle-initial]').val(initials[1]);
                $('input[name=monogram-last-initial]').val(initials[2]);
            }
            break;
        default:
            // No personalization
            break;
    }
    if (evnt || basic_value) {
        $('#personalization-fields-group').show();
    }
    $(".value-fields").hide();
    $("#personalization-not-chosen").hide();
    if (1 == selected) {
        $('#personalization-fields-group').hide();
        $("#personalization-not-chosen").show();
    } else if (2 == selected) {
        $("#name-value-fields").show();
    } else if (3 == selected) {
        $("#initials-value-fields").show();
    } else if (4 == selected) {
        $("#monogram-value-fields").show();
    }
}
$(document).ready(function() {
    $("#add_pers").on('click', function() {
        var $form = $('<form>', {
            action: '/personalization/',
            method: 'post'
        });
        $.each($("#fake-form-personalization :input"), function(index, input) {
            $form.append(input);
        });
        $.post($form.attr('action'), $form.serialize()).success(function(data, status, xhr) {
            $("input[name=personalization_id]").val(data.personalization_id);
            
        });
    });
    $('#personalization-fields-group').hide();
    $(".value-fields").hide();
    $("#personalization-not-chosen").hide();
    $("input[name=embroidery_type]").change(set_personal_fields);
    
    set_personal_fields();

    $('#add_cart').click( function() {
        $.each($("#fake-form-personalization :input"), function(index, input) {
            var $form = $('#add-cart');
            $form.append(input);
        });
        switch ($('input:radio[name=embroidery_type]:checked').val()) {
            case '2':
                // Name Selected
                $('#id_value').val($('input[name=name-value]').val());
                $('input[name=embroidery_type]').val(2);
                break;
            case '3':
                if ($("#id_value").val() && !$("input[name=initials-first-initial]").val()) {
                    var initials = $("#id_value").val();
                    $('input[name=initials-first-initial]').val(initials[0])
                    $('input[name=initials-middle-initial]').val(initials[1]);
                    $('input[name=initials-last-initial]').val(initials[2]);
                       
                } else {
                    // Initials selected
                    $('#id_value').val(
                        $('input[name=initials-first-initial]').val() +'-'+
                        $('input[name=initials-middle-initial]').val() +'-'+
                        $('input[name=initials-last-initial]').val()
                    );
                    $('input[name=embroidery_type]').val(3);
                }
                break;
            case '4':
                // Monogram selected
                $('#id_value').val(
                    $('input[name=monogram-first-initial]').val() +'-'+
                    $('input[name=monogram-last-initial]').val() +'-'+
                    $('input[name=monogram-middle-initial]').val()
                );
                $('input[name=embroidery_type]').val(4);
                break;
            default:
                // No personalization
                $('input[name=embroidery_type]').val(1);
                break;
        }
        $('#add-cart').submit();
        
    });
});
</script>
