{% load mezzanine_tags staticfiles pages_tags %}

<script>
{% if settings.GOOGLE_ANALYTICS_ID and not request.user.is_staff %}
var _gaq = _gaq || [['_trackPageview']];
_gaq.unshift(['_setAccount', '{{ settings.GOOGLE_ANALYTICS_ID }}']);
(function(d, t) {
    var g = d.createElement(t),
        s = d.getElementsByTagName(t)[0];
    g.async = true;
    g.src = '//www.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g, s);
})(document, 'script');
{% endif %}
$(function() {
  $('.toggleNav').on('click',function() {
    $('.link-lockup').toggleClass('open');
  });
});

if ($('nav.link-lockup').length > 1) {
    $('.primary-content').css('padding-top', '15rem');
}
$(document).ready(function() {
    $("#add_pers").on('click', function() {
        var $form = $('<form>', {
            action: '/personalization/',
            method: 'post'
        });
        $.each($("#fake-form-personalization :input"), function(index, input) {
            $form.append(input);
        });
        $.post($form.attr('action'), $form.serialize()).success(function(data, status, xhr) {
            $("input[name=personalization_id]").val(data.personalization_id);
            
        });
    });
    $('#personalization-fields-group').hide();
    $(".value-fields").hide();
    $("#personalization-not-chosen").hide();
    $("input[name=embroidery_type]").change(function(evnt) {
        var selected = $('input:radio[name=embroidery_type]:checked').val();
        $('#personalization-fields-group').show();
        $(".value-fields").hide();
        $("#personalization-not-chosen").hide();
        if (1 == selected) {
            $('#personalization-fields-group').hide();
            $("#personalization-not-chosen").show();
        } else if (2 == selected) {
            $("#name-value-fields").show();
        } else if (3 == selected) {
            $("#initials-value-fields").show();
        } else if (4 == selected) {
            $("#monogram-value-fields").show();
        }
    });
});
</script>
