{% load mezzanine_tags %}

{% if form_for_fields.non_field_errors %}
<div class="control-group error non-field-errors">
    {% for error in form_for_fields.non_field_errors %}
    <span class="help-inline">{{ error }}</span>
    {% endfor %}
</div>
{% endif %}

{% nevercache %}
<input type="hidden" name="referrer" value="{{ request.META.HTTP_REFERER }}">
{% csrf_token %}
{% endnevercache %}
<div id="name-value-fields" class="value-fields control-group" style="display: flex; flex-direction: row; align-content: center">
    <label class="control-label col-md-6" style="padding: 0px" for="name-value">
        Name to Use
    </label>
    <input type="text" name="name-value" style="width: initial" value="{{ item.personalization.value }}">
</div>
<div id="initials-value-fields" class="value-fields control-group">
    <label class="control-label" for="initials-first-initial">
        First, Middle, Last
    </label>
    <div>
    <input type="text" name="initials-first-initial" size=1 maxlength=1 style="margin: .2rem; text-transform:uppercase">
    <input type="text" name="initials-middle-initial" size=1 maxlength=1 style="margin: .2rem; text-transform:uppercase">
    <input type="text" name="initials-last-initial" size=1 maxlength=1 style="margin: .2rem; text-transform:uppercase">
    </div>
</div>
<div id="monogram-value-fields" class="value-fields control-group" style="display: flex; flex-direction: row; align-content: center">
    <label class="control-label" for="monogram-first-initial">
        First, Last, Middle
    </label>
    <div>
    <input type="text" name="monogram-first-initial" size=1 maxlength=1 style="margin: .2rem; text-transform:uppercase">
    <input type="text" name="monogram-last-initial" size=1 maxlength=1 style="margin: .2rem; text-transform:uppercase">
    <input type="text" name="monogram-middle-initial" size=1 maxlength=1 style="margin: .2rem; text-transform:uppercase">
    </div>
</div>
<div id="personalization-fields-group">
{% for field in form_for_fields %}
{% if field.is_hidden %}
{{ field }}
{% else %}

<div class="control-group input_{{ field.id_for_label }} {{ field.field.type }}
    {% if field.errors %} error{% endif %}">
    <div class="form-group">
        <label class="control-label" for="{{ field.auto_id }}">
            {{ field.label }}
        </label>
        {{ field }}
        {% if field.errors %}
        <span class="help-inline">
            {% for e in field.errors %}
            {% if not forloop.first %} / {% endif %}{{ e }}
            {% endfor %}
        </span>
        {% else %}
        <span class="help-inline">{{ field.help_text }}</span>
        {% endif %}
    </div>
</div>
{% endif %}
{% endfor %}
</div>
