body {
  padding-top: 140px;
}

.primary-content {
  margin-top: 5em;
}

.navbar-bottom {
  border-bottom: #0d024c 2px solid;
  border-radius: 0;
  background-color: white;
}

.navbar-pink {
  background-color: #f067a6;
}

.navbar-brand {
  margin-bottom: -100px;
  z-index: 45;
}

.nav-item {
  font-size: 2rem;
}

.Aligner {
  display: flex;
  align-items: center;
  min-height: 48em;
  justify-content: center;
}

.Aligner-item {
  flex: 1;
}

.Aligner-item--top {
  align-self: flex-start;
}

.Aligner-item--bottom {
  align-self: flex-end;
}

.Aligner-item--fixed {
  flex: none;
  max-width: 50%;
}

#wrapper {
  display: block;
  width: 850px;
  background: #fff;
  margin: 0 auto;
  margin-bottom: 35px;
  padding: 25px 30px;
  border-radius: 4px;
}


#productlist {
  display: block;
  margin-bottom: 15px;
}

#productlist li {
  display: block;
  float: left;
  margin-bottom: 35px;
}

#productlist li img {
  display: block;
  float: left;
  margin-right: 10px;
}
#productlist li .details {
  display: block;
  float: left;
  width: 180px;
}

button > i.fa-cart-plus {
  color: #f067a6;
}
