<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load pages_tags mezzanine_tags i18n future staticfiles %}
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>{% block meta_title %}{% endblock %}</title>
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
    <link rel="shortcut icon" href="{% static "img/favicon.ico" %}">

    {% ifinstalled mezzanine.blog %}
        <link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
        <link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
    {% endifinstalled %}

    {% compress css %}
        <link rel="stylesheet" href="{% static "dist/css/bootstrap.css" %}">
        <link rel="stylesheet" href="{% static "css/mezzanine.css" %}">
        <link rel="stylesheet" href="{% static "css/cartridge.css" %}">
        {% if LANGUAGE_BIDI %}
        <link rel="stylesheet" href="{% static "css/rtl.css" %}">
        {% endif %}
        {% ifinstalled cartridge.shop %}
        <link rel="stylesheet" href="{% static "css/cartridge.css" %}">
        {% if LANGUAGE_BIDI %}
        <link rel="stylesheet" href="{% static "css/cartridge.rtl.css" %}">
        {% endif %}
        {% endifinstalled %}
        {% block extra_css %}{% endblock %}
    {% endcompress %}

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

    {% compress js %}
    <script src="{% static "dist/js/jquery.js" %}"></script>
    <script src="{% static "dist/js/bootstrap.js" %}"></script>
    {% block extra_js %}{% endblock %}
    {% endcompress %}
    <!--[if lt IE 9]>
    <script src="{% static "js/html5shiv.js" %}"></script>
    <![endif]-->

    {% block extra_head %}{% endblock %}
</head>

<body id="{% block body_id %}body{% endblock %}">
{# This allows for a sticky footer while having a fixed navbar #}
<div id="wrap">

<nav class="navbar-default navbar-fixed-top" role="navigation">
    <div class="main-lockup">
        {% if settings.SITE_TITLE %}
        <div class="search-lockup">
                {% search_form "all" %}
        </div>    
        <div class="lockup-logo">
            <img src="{% static "assets/LogoMain.png" %}" />
        </div>
        <div class="icon-lockup">
            <div class="icon-item">
                <a href="https://www.facebook.com/carolinabelleSC"><i class="fa fa-instagram"></i></a>
            </div>
            <div class="icon-item">
                <a href="https://www.facebook.com/carolinabelleSC"><i class="fa fa-facebook-official"></i></a>
            </div>
            <div class="icon-item">
                <a class="cart-container" href="/shop/cart">
                    <i class="fa fa-shopping-cart"></i>
                    {% if request.cart.has_items %}
                    <i class="fa fa-stacker">{{ request.cart.total_quantity }}</i>
                    {% endif %}
                </a>
            </div>
        </div>
        {% endif %}
    </div>

    {% page_menu "pages/menus/primary.html" %}
    <div class="navbar-collapse collapse">
        {% page_menu "pages/menus/dropdown.html" %}
    </div>    
</nav>

<div class="container-fluid primary-content">
    <div class="row">
        <div class="col-md-11">
            {% block main %}{% endblock %}
        </div>

    </div>
</div>
</div><!-- /wrap -->

<footer>
    {% if settings.SITE_TAGLINE %}<p class="navbar-text">{{ settings.SITE_TAGLINE }}</p>{% endif %}
    <div class="container-fluid">
    {# {% page_menu "pages/menus/footer.html" %} #}
    <p class="text-muted credit">
        {% ifinstalled mezzanine.mobile %}
        <span class="separator">|</span>
        <a href="{% url "set_device" "mobile" %}?next={{ request.path }}">{% trans "View Mobile Site" %}</a>
        {% endifinstalled %}
    </p>
    </div>
</footer>

{% include "includes/footer_scripts.html" %}

</body>
</html>
