{% extends "base.html" %}
{% load i18n page_tags %}

{% block meta_title %}{{ page.meta_title }}{% endblock %}
{% block title %}{% block meta_title %}{% endblock %}{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}

{% block main %}

<div class="main-marquee">
    <div id="marquee-carousel" class="product-full-imagesize carousel slide">
        <div class="carousel-inner" role="listbox">
        {{ page.page_branch }}
        {% for image in page.gallery.images.all %}
            <div class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %}">
                <img class="img-responsive" src="{{ MEDIA_URL }}{{ image.file }}">
            </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
