{% load mezzanine_tags shop_tags rating_tags i18n personalization_tags %}

<h4 class="modal-title" id="persModalLabel">Personalize This Item</h4>
</div>
<div id="personalize-product">
<div id="personalization-types">
    <div class="radio">
      <label>
        <input type="radio" name="embroidery_type" id="embroidery_none_choice" value="1" {% if item.personalization.embroidery_type == 1 %}checked{%endif%} >
        None
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="embroidery_type" id="embroidery_name_choice" value="2" {% if item.personalization.embroidery_type == 2 %}checked{%endif%} >
        Name
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="embroidery_type" id="embroidery_initials_choice" value="3" {% if item.personalization.embroidery_type == 3 %}checked{%endif%} >
       Initials
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="embroidery_type" id="embroidery_monogram_choice" value="4" {% if item.personalization.embroidery_type == 4 %}checked{%endif%} >
        Monogram
      </label>
    </div>
    <input type="hidden" name="basic_value" value="{{item.personalization.value}}" />
</div>
<div id="personalization-form-fields">
    {% personalize_product_form as form %}
    {% fields_for form template="includes/personalization_form_fields.html" %}
    <div id="personalization-not-chosen" class="figure-caption" style="display: none">
        You have selected to not personalize this item.  Please ensure that you do not wish to have your item personalized
    </div>
</div>
</div>
