{% load mezzanine_tags shop_tags rating_tags i18n personalization_tags %}

<h4 class="modal-title" id="persModalLabel">Personalize This Item (add {{personalization_cost|currency}})</h4>
</div>
<a href="#" id="pop"  data-toggle="modal" data-target="#fontModal">
    <i class="fa fa-link"></i>
    Monogram Fonts and Colors
</a>
<div id="personalize-product">
<div id="personalization-types">
    <div class="radio">
      <label>
        <input type="radio" name="embroidery_type" id="embroidery_none_choice" value="1" {% if not item.personalization or item.personalization.embroidery_type == 1 %}checked{%endif%} >
        None
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="embroidery_type" id="embroidery_name_choice" value="2" {% if item.personalization.embroidery_type == 2 %}checked{%endif%} >
        Name
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="embroidery_type" id="embroidery_initials_choice" value="3" {% if item.personalization.embroidery_type == 3 %}checked{%endif%} >
       Initials
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="embroidery_type" id="embroidery_monogram_choice" value="4" {% if item.personalization.embroidery_type == 4 %}checked{%endif%} >
        Monogram
      </label>
    </div>
    <input type="hidden" name="basic_value" value="{{item.personalization.value}}" />
</div>
<div id="personalization-form-fields">
    {% personalize_product_form personalization=item.personalization template="includes/personalization_form_fields.html" %}
</div>
<div id="personalization-not-chosen" class="figure-caption" style="display: none">
    You have selected to not personalize this item.  Please ensure that you do not wish to have your item personalized
</div>
</div>

<div class="modal fade" id="fontModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="width: 375px">
    <div class="modal-content" style="display: flex">
      <div class="modal-body">
        <img src="/static/assets/font-listing.jpg" id="imagepreview" style="width: 300px;" >
      </div>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
      </div>
    </div>
  </div>
</div>
